<!DOCTYPE html>
<html>
<head>
	<title>Sports Schedule</title>
	<link rel="stylesheet" type="text/css" href="homestyle.css">
	<script src='jquery.min.js'></script>
</head>
<body>

	<h1 id='main-header'>Sports Schedule</h1>

	<div id = "navbox">

		<p>Welcome to Sports Schedule! Here you can keep track of when your favorite teams play and view detailed game summaries for past games. We support NBA, NFL, NHL, and NCAA Men's Basketball Teams.</p>

		<h3>Begin Tracking:</h3>

		<li id='sign-up'><a href="/register">Sign Up</a></li>
		<li id='login'><a href="/login">Login</a></li>
		<li id='logout'><a href="/logout">Logout</a></li>
	</div>
	
	<footer>
		<p>Developed by Robert Anderson using APIs by SportRadar and FullCalendar.</p>
	</footer>
</body>
</html>


